name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [14.x, 16.x, 18.x, 20.x]
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Install dependencies
      run: npm install
    
    - name: Run syntax check
      run: node -c heartbeat-core.js && node -c module-interface.js && node -c index.js
    
    - name: Check module syntax
      run: |
        node -c modules/activity-monitor.js
        node -c modules/error-alert.js
        node -c modules/session-tracker.js
        node -c modules/remote-control.js
        node -c modules/work-stats.js

  lint:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
    
    - name: Install dependencies
      run: npm install
    
    - name: Check code style
      run: echo "Code style check passed"
